<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RRPMIC</title>
    <%- include('./partials/Style')%>
    <script defer src="app.js"></script>
</head>
<body class="light">
    <div>
        <nav class="navbar navbar-dark bg-primary sticky-top" >
            <div class="container-fluid">
                <a class="navbar_ini logo" href="/" id="rrpmic">
                    RRPMic
                </a>
                <div class="container-fluid tema_nav">
                    <li class="nav-item has-dropdown">
                        <a class="navbar_ini" href="#">Tema</a>
                        <ul class="dropdown">
                        <li class="dropdown-item">
                            <a id="light" href="#">light</a>
                        </li>
                        <li class="dropdown-item">
                            <a id="dark" href="#">dark</a>
                        </li>
                        <li class="dropdown-item">
                            <a id="solar" href="#">solarize</a>
                        </li>
                        </ul>
                    </li>
                </div>
            </div>
        </nav>
        <header class="box">
            <div>
                <b>Escreva o valor de delta desta equação:</b>
            <br>
                <b><%=a%>x<sup>2</sup> + <%=b%>x + <%=c%></b>
                <form action="/password" method="post">
                    <input name="result_1" type="number" id="result_1">
                    <input type="hidden" name="a" value="<%=a%>"><input type="hidden" name="b" value="<%=b%>"><input type="hidden" name="c" value="<%=c%>">
                    <button type="submit" class="btn btn-primary btn-lg btn_verify">Verificar</button>
                </form>
                <br>
                <% if(nada) {%>
                    Insira valores válidos...
                <%}%>
                <% if(errado) {%>
                    Errado! Tente outra vez
                <%}%>
            </div>
        </header>
    </div>
</body>
</html>