<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RRPMIC</title>
    <%- include('./partials/Style')%>
</head>
<body>
    <div>
        <nav class="navbar navbar-dark bg-primary sticky-top" >
            <div class="container-fluid">
                <a class="navbar-brand" href="/" >
                    RRPMic
                </a>
            </div>
        </nav>
        <div class="box">
            <div>
                <b>Escreva o valor de delta desta equação:</b>
            <br>
                <b><%=a%>x<sup>2</sup> + <%=b%>x + <%=c%></b>
                <form action="/password" method="post">
                    <input name="result_1" type="number" id="result_1">
                    <input type="hidden" name="a" value="<%=a%>"><input type="hidden" name="b" value="<%=b%>"><input type="hidden" name="c" value="<%=c%>">
                    <button type="submit" class="btn btn-primary btn-lg btn_verify">Verificar</button>
                </form>
                <br>
                <% if(nada) {%>
                    Insira valores válidos...
                <%}%>
                <% if(errado) {%>
                    Errado! Tente outra vez
                <%}%>
            </div>
        </div>
    </div>
</body>
</html>